
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

*,*::before,*::after {
    box-sizing: border-box;
}

.only-d {
    @media all and (max-width: $widthMobile) {
        display: none !important;
    }
}

.only-m {
    @media all and (min-width: $widthMobile) {
        display: none !important;
    }
}

.only-m-d {
    @media all and (max-width: $widthMobileMenu) {
        display: none !important;
    }
}

.only-m-m {
    @media all and (min-width: $widthMobileMenu) {
        display: none !important;
    }
}