
.form-doctor-review {

    .inner-1 {
        margin: -35px -30px 0 -30px;
        padding: 50px 30px 30px 30px;
        background-color: white;
    }

    .inner-2 {
        margin: 0 -30px -30px -30px;
        padding: 30px;
    }
}