body,html {
    &.nav-open,
    &[class*=modal] {
        overflow: hidden;
    }
}


.modal {
    display: none !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    z-index: 1050 !important;
    //pointer-events: none;

    @extend .trans;

    &.open {
        display: block !important;
        background-color: rgba(0,0,0,.2);
    }

    &.sm .modal-outer {
        width: 400px;
    }

    &.md .modal-outer{
        width: 1000px;
    }
}

.modal-outer {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    width: 550px;
    max-width: 90%;
    min-height: calc(100% - 100px);
}

.modal-inner {
    position: relative;
    padding: 35px 30px 25px 30px;
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $color3;
    border: 1px solid #aaa;
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);

    .close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-size: contain;
        background-image: url('../images/icons/icon-cancel-blue.png');
        z-index: 1050;

        @extend .trans;

        &:hover {
            transform: rotate(180deg);
        }
    }
}

.text-center {
    text-align: center;
}