

.top-row-wrapper-m {
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-row-m {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    background-color: white;

    .menu-toggle {
        width: 36px;
        height: 36px;
        margin-left: 3px;
        background-image: url('../images/icons/icon-menu-0.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        .menu_open & {
            background-image: url('../images/icons/icon-menu-1.png');
        }
    }

    .logo {
        @extend .d-flex-c;
    }

    .search-clickable {
        width: 36px;
        height: 36px;
        background-image: url('../images/icons/icon-search.png');
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;

        @extend .pointer;
    }

    &.search_focused {
        .search-wrapper-m {
            display: flex;
        }
    }

    .search-wrapper-m {
        display: none;
        background-color: $color3;
        border-radius: 24px;
        z-index: 1;

        @extend .pos-abs-100;

        input {
            flex-basis: 100%;
            border: 0;
            background-color: transparent;
            padding: 15px 50px 15px 15px;
        }

        .cancel {
            position: absolute;
            top: 50%;
            right: 65px;
            transform: translateY(-50%);
            display: block;
            width: 36px;
            height: 36px;
            margin-left: 10px;
            background-size: 24px 24px;
            background-position: center;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url('../images/icons/icon-cancel.png');
            border: 0;
        }

        button {
            display: block;
            flex: 0 0 50px;
            height: 50px;
            margin-left: 10px;
            background-size: cover;
            background-color: transparent;
            background-image: url('../images/icons/icon-search-active.png');
            border: 0;

        }
    }
}


.menu_mobile {
    .menu_open & {
        display: block;
    }

    display: none;


    .languages {
        height: 64px;
        border-top: 1px solid $color25;
        border-bottom: 1px solid $color25;

        @extend .d-flex-c;
        @extend .size-h4;

        > * + * {
            margin-left: 30px;
        }
    }

    .phone-mail {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: $color3;
    }

    .social {
        padding: 10px 10px 25px 10px;
        background-color: $color3;

        @extend .d-flex-c;
    }
}
